.input-group {
    position: relative;
    width: 100%;
    margin-top: 20px;
}

.input-group input {
    width: 100%;
    height: 40px;
    padding: 10px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    background: transparent;
}

.input-group label {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
    font-size: 16px;
    pointer-events: none;
    transition: all 0.2s ease;
    background: #F7F8F9;
    padding: 0 4px;
}

.input-group input:focus+label,
.input-group input:not(:placeholder-shown)+label {
    top: 5px;
    font-size: 12px;
    color: #6C25FF;
    font-weight: 600;
}

.input-group input:focus {
    border-color: #2563eb;
}